# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Watermark/*
!/Watermark/task/
/Watermark/task/*
!/Watermark/task/src/
!/Watermark/task/build.gradle
!/Watermark/task/build.gradle.kts

# Project exclude paths
/Topics/Debugging techniques/Find the error/out/
/Topics/Debugging techniques/Find the error/out/production/classes/
/Topics/Debugging techniques/Log events/out/
/Topics/Debugging techniques/Log events/out/production/classes/
/Topics/Default arguments/Gratuity/out/
/Topics/Default arguments/Gratuity/out/production/classes/
/Topics/Functional decomposition/Create a full name/out/
/Topics/Functional decomposition/Create a full name/out/production/classes/
/Topics/Image libraries/Drawing a polygon/out/
/Topics/Image libraries/Drawing a polygon/out/production/classes/
/Topics/Image libraries/Drawing four circles/out/
/Topics/Image libraries/Drawing four circles/out/production/classes/
/Topics/Image libraries/Drawing two lines/out/
/Topics/Image libraries/Drawing two lines/out/production/classes/
/Topics/Named arguments/Perimeter/out/
/Topics/Named arguments/Perimeter/out/production/classes/
/Topics/Object declarations/Blocks in a box/out/
/Topics/Object declarations/Blocks in a box/out/production/classes/
/Topics/Scopes/Cyclist/out/
/Topics/Scopes/Cyclist/out/production/classes/
/Topics/When expression/From string to a number/out/
/Topics/When expression/From string to a number/out/production/classes/
/Topics/Writing files/Duplication/out/
/Topics/Writing files/Duplication/out/production/classes/